
body {
    background: #fafafa;
    font-family: 'Inter', sans-serif;
    color: #111;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    padding: 0;
    margin: 0;
    background-image: url("../assets/img/homepage_background.png");
    -webkit-text-size-adjust: none
}

a {
    color: #111;
    text-decoration: none!important;
    outline: 0;
    -moz-outline: none
}

a:hover {
    color: #3e8afa
}

.btn-radius {
    border-radius: 30px
}

.btn-secondary {
    background: #eee;
    border-color: #eee;
    color: #111
}


#sidebar_menu {
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}

.nav-item,.nav-item>a {
    position: relative
}

#wrapper {
    width: 100%;
    position: relative;
}

#header {
    height: 65px;
    background: #272626;
    margin-bottom: 25px;
    position: relative;
    z-index: 99
}

#header .container {
    position: relative
}

#header #logo {
    display: inline-block;
    height: 35px;
    margin: 15px 30px 15px 0;
    float: left
}

#header #logo img {
    height: auto;
    width: 150px;
    margin-right: 10px;
    float: left
}

#mobile_menu {
    padding: 0;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: auto;
    z-index: 4;
    display: none
}

#mobile_menu i {
    margin: 0;
    font-size: 18px
}

#header_menu {
    height: 65px;
    margin: 0;
    float: left
}

#header_menu ul.header_menu-list {
    list-style: none;
    padding: 0;
    display: block
}

#header_menu ul.header_menu-list .nav-item {
    display: inline-block;
    margin: 0 3px;
    position: relative
}

#header_menu ul.header_menu-list .nav-item>a {
    height: 65px;
    line-height: 65px;
    margin: 0;
    padding: 0 20px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase
}

#header_menu ul.header_menu-list .nav-item:hover>a {
    color: #fff
}

#main-wrapper {
    margin-bottom: 70px;
    min-height: calc(100vh - 326px);
}

#sidebar_menu_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(28,28,28,.6);
    z-index: 100;
    display: none
}

#sidebar_menu_bg.active {
    display: block
}

#sidebar_menu {
    position: fixed;
    z-index: 101;
    left: -400px;
    opacity: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 300px;
    padding: 20px;
    background: #111;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    color: #ccc
}

#sidebar_menu.active {
    left: 0;
    opacity: 1
}

#sidebar_menu a {
    color: #ccc
}

#sidebar_menu a:hover {
    color: #fff
}

#sidebar_menu .sidebar_menu-list {
    font-size: 16px;
    margin-top: 10px
}

#sidebar_menu .sidebar_menu-list>.nav-item {
    display: block;
    width: 100%;
    border-bottom: 1px solid #222;
    position: relative
}

#sidebar_menu .sidebar_menu-list>.nav-item>.nav-link {
    display: block;
    padding: 15px 0;
    color: #fff
}

#sidebar_menu .sidebar_menu-list>.nav-item>.toggle-submenu {
    position: absolute;
    top: 5px;
    right: -10px;
    padding: 10px;
    z-index: 3;
    cursor: pointer
}

#sidebar_menu .sidebar_menu-list>.nav-item>.toggle-submenu:hover {
    color: #3e8afa
}

#sidebar_menu .sidebar_menu-list>.nav-item .nav {
    margin-bottom: 20px
}

#sidebar_menu .sidebar_menu-list>.nav-item .nav>.nav-item {
    display: block;
    width: 49%;
    margin-right: 1%;
    float: left
}

#sidebar_menu .sidebar_menu-list>.nav-item .nav>.nav-item>.nav-link {
    font-size: 14px;
    padding: 10px 0;
    color: #aaa
}
@media screen and (min-width: 1681px) {
    .container {
        max-width:1600px
    }
}

@media screen and (max-width: 1680px) {
    .container {
        max-width:1400px
    }
}

@media screen and (max-width: 1400px) {
    .container {
        max-width:1200px
    }

    #header_menu ul.header_menu-list .nav-item {
        margin-right: 0
    }
}

@media screen and (max-width: 1199px) {

    #header {
        height: 120px;
        text-align: center
    }

    #header .container {
        padding-left: 0;
        padding-right: 0
    }

    #header_menu ul.header_menu-list {
        display: none
    }

    #mobile_menu {
        top: 0;
        width: 60px;
        text-align: center;
        left: 0;
        display: block
    }

    #mobile_menu i {
        font-size: 20px;
        line-height: 60px;
        height: 60px
    }

    #header #logo {
        height: 30px;
        width: 240px;
        text-align: center;
        margin: 15px 0;
        position: absolute;
        font-size: 0;
        left: 50%;
        margin-left: -120px
    }

    #header #logo img {
        display: inline-block;
        float: none;
        vertical-align: top
    }

    #main-wrapper {
        min-height: calc(100vh - 378px)
    }
}

@media screen and (max-width: 998px) {

    #wrapper {
        padding: 0
    }

    #header {
        margin: 0;
        margin-bottom: 25px;
        padding-left: 0;
        padding-right: 0
    }
}

@media screen and (max-width: 759px) {

    #header {
        margin-bottom: 20px
    }
}

@media screen and (max-width: 480px) {

    #main-wrapper {
        margin-bottom: 30px!important
    }
}

@media (min-width: 240px) and (max-width: 479px) {

    #header {
        height: 75px;
    }


    #header #logo img {
        margin-right: 0!important
    }
}

@media screen and (min-width: 1200px) and (max-width:1400px) {
    #header_menu ul.header_menu-list .nav-item>a {
        padding:0 10px;
        text-transform: unset
    }
}
