body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #162749;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .logo {
    font-size: 2.5vmin;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    height: 35px;
}

header .greetings {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .greetings img {
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
}

header .greeting {
    font-size: 2.1vmin;
    margin-left: auto;
    padding-right: 30px;
}

header .curator {
    border-bottom: 1px solid #ffbb00;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.7vmin;
}

header nav a:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    gap: 20px;
    height: 100%;
}

.left-container, .right-container {
    flex: 1;
    display: flex;
}

.left-container {
    align-items: center;
}

.right-container {
    align-items: flex-start;
    padding-top: 10vmin;
}

.analytics, .artifacts {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.analytics {
    background-color: #cce5ff;
}

.artifacts {
    background-color: #e2e3e5;
}

.right-container .artifacts .tabs {
    display: flex;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px;
}

.right-container .artifacts .tabs .tab {
    padding: 10px 20px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f1f1f1;
}

.right-container .artifacts .tabs .tab.active {
    background-color: #fff;
    border-top: 3px solid #ffbb00;
    font-weight: bold;
}

.right-container .artifacts .tabs .tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #ffffff;
}

.right-container .artifacts .tab-content.active {
    display: block;
}

.right-container .artifacts #search .search-container {
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color:#f1f1f1;
}

.right-container .artifacts #search .search-container .search-input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex: 1;
    padding: 10px;
    border: 1px solid #b6b6b6;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    margin-bottom: 10px;
}

.right-container .artifacts .search-container .search-button,
.right-container .artifacts button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 20px;
    border: none;
    background-color: #4376ad;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    flex-shrink: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.right-container .artifacts .search-container button:hover,
.right-container .artifacts button:hover {
    background-color: #ffbb00;
    color: black;
}

.right-container .artifacts .form-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-right: 15px;
    background-color:#f1f1f1;
    padding: 10px;
    box-sizing: border-box;
}

.right-container .artifacts .form-group {
    margin-bottom: 15px;
}

.right-container .artifacts label {
    margin-bottom: 5px;
    font-weight: bold;
}

.right-container .artifacts input[type="text"],
.right-container .artifacts select,
.right-container .artifacts textarea {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 7px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.right-container .artifacts textarea {
    resize: vertical;
    height: 100px;
}

.right-container .artifacts input[type="file"] {
    margin-top: 7px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.right-container .artifacts .upload-container, .right-container .artifacts .edit-container {
    background-color:#f1f1f1;
    padding: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
}