* {
	box-sizing: border-box;

}

body {
    font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f0f0f0;
	height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #073066;
	color: rgb(255, 255, 255);
	position: relative;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	z-index: 10;
}

header .logo {
	font-size: 2.5vmin;
	display: flex;
	align-items: center;
	gap: 10px;
}

header .logo img {
	height: 35px;
}

header .greetings {
	display: flex;
	align-items: center;
	gap: 10px;
}

header .logo,
header .greetings {
	flex-shrink: 1;

}

header .greetings img {
	height: 30px;
	border: 1px solid white;
	border-radius: 5px;
}

header .greeting {
	font-size: 2.1vmin;
	margin-left: auto;
	padding-right: 30px;
}

header .curator {
	border-bottom: 1px solid #f6c500;
}

header nav a {
	color: white;
	text-decoration: none;
	font-size: 1.7vmin;
}

header nav a:hover {
	text-decoration: underline;
}

#tab-content :active {
	background-color: #ffffff;
}

button, .search-button, #refreshBtn {
	background-color: #FFFFFF;
	color: #073066;
	border: 1.25px solid #073066;
	padding: 12px 50px;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	transition: background-color 0.3s ease-in-out;
}

button, .search-button, #refreshBtn:hover {
	background-color: #f6c500;
	color: #073066;
	font-weight: bold;
	border: 1.25px solid #073066;
}

.main-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	height: 100%;
}

.left-container {
	margin-right: 20px;
}

.right-container {
	margin-top: -105px;
}

.left-container,
.right-container {
	width: 48%;
}

.analytics,
.artifacts {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}


.cordi-media {
    margin-top: 20px;
    padding: 15px;           /* Same padding */
    margin-bottom: 20px;  
    height: 100%;            /* Space below */
    background-color: transparent; /* Background color for distinction */
}

.right-container .cordi-media .tabs {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
}

.cordi-media .tabs .tab {
    display: flex;
    cursor: pointer;
    background-color: #f1f1f1; /* Default background for tabs */
    padding: 10px;
    height: 40px;
    transition: background-color 0.3s; /* Smooth transition */
}

.right-container .cordi-media .tabs .tab.active {
    background-color: #fff; /* White background for active tab */
    border-top: 3px solid #f6c500; /* Border color for active tab */
    font-weight: bold; /* Bold font for active tab */
}

.right-container .cordi-media .tabs .tab-content {
    display: none; /* Hide all tab contents by default */
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #ffffff;
}

.right-container .cordi-media .tab-content.active {
    display: block; /* Show the active tab content */
    margin-top: -20px;
}



	.artifact-checkbox {

	}

.chart-container {
	min-height: 300px;
	position: relative;
}

.btn {
	padding: 0.65rem 1.4rem;
	font-size: 1rem;
	font-weight: 500;
	opacity: 1;
	border-radius: 3px;
}

.btn:hover,
.btn:focus {
	opacity: 0.8;
}

.btn .btn-label {
	display: inline-block;
}

.btn .btn-label i {
	font-size: 16px;
	vertical-align: middle;
	margin-right: 2px;
	margin-left: -2px;
	line-height: 0;
	margin-top: -2.5px;
}

.btn .btn-label.just-icon i {
	margin-left: 0 !important;
	margin-right: 0px !important;
}

.btn-label i {
	font-size: 27px;
	vertical-align: middle;
	margin-right: 2px;
	margin-left: -7px;
	line-height: 0;
	margin-top: -2.5px;
}

.btn-lg .btn-label.just-icon i {
	margin-left: 0 !important;
	margin-right: 0px !important;
}

.btn-label-info {
	background: rgba(72, 171, 247, 0.1);
	color: #073066 !important;
	border-color: transparent;
}

.btn-label-info:hover,
.btn-label-info:focus,
.btn-label-info:disabled {
	background: #073066;
	color: #fff !important;
	opacity: 1;
}

.btn-label-success {
	background: rgba(49, 206, 54, 0.1);
	color: #f6c500 !important;
	border-color: transparent;
}

.btn-label-success:hover,
.btn-label-success:focus,
.btn-label-success:disabled {
	background: #f6c500;
	color: #fff !important;
	opacity: 1;
}

.btn-round {
	border-radius: 100px !important;
}

.btn-sm {
	font-size: 11px;
	padding: 7px 13px;
}

.card {
	border: 1px solid #eaeaea;
	transform: scale(1);

}

.card-header {
	border-bottom: 0px !important;
}

.card .card-head-row,
.card-light .card-head-row {
	display: flex;
	align-items: center;
}

.card-title {
	margin: 0;
	color: #2A2F5B;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.6;
}

.card-title a,
.card-title a:hover,
.card-title a:focus {
	color: #2A2F5B;
	text-decoration: none;
}

.card-title {
	margin-bottom: 0px !important;
}

.card .card-tools .btn,
.card-tools .btn {
	margin-right: 10px;
}

.card .card-head-row .card-tools,
.card-light .card-head-row .card-tools {
	margin-left: auto;
	float: right;
	padding-left: 15px;
}

.card .card-head-row .card-tools .btn:last-child,
.card-light .card-head-row .card-tools .btn:last-child {
	margin-right: 0px;
}

.card .card-footer .legend,
.card-light .card-footer .legend {
	display: inline-block;
}

.html-legend {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	list-style: none;
	cursor: pointer;
	padding-left: 0;
	text-align: center;
	margin-top: 1rem;
}

.html-legend li {
	justify-content: center;
	align-items: center;
	display: flex;
	vertical-align: middle;
	padding: 0 5px;
	margin-right: 5px;
	margin-bottom: 6px;
	color: #8d9498;
	font-size: 12px;
}

.html-legend li.hidden {
	text-decoration: line-through;
}

.html-legend li span {
	border-radius: 15px;
	display: inline-block;
	height: 15px;
	margin-right: 10px;
	width: 15px;
	vertical-align: top;
}

.left-container,
.right-container {
	flex: 1;
	display: flex;
}

.left-container {
	align-items: center;
	margin-top: 590px;
}

.right-container {
	align-items: flex-start;
	padding-top: 10vmin;
}

.analytics,
.artifacts {
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;
}

.analytics {
	background-color: #ffffff;
}

.artifacts {
	background-color: #e2e3e5;
}

.tab {
    display: flex;
    justify-content: space-between; /* Places text on the left and icon on the right */
    align-items: center; /* Vertically aligns items */
    padding: 10px; /* Optional: Add some padding for better spacing */
}

.tab i {
    margin-left: 8px; /* Optional: Space between text and icon */
}

.tab .icon {
    width: 16px; /* Adjust the size */
    height: 16px;
    vertical-align: middle; /* Align with text */
    margin-left: 8px; /* Space between text and icon */
}

.tabs {
	display: flex;
	margin-bottom: 10px;
}

.tab {
	padding: 10px 15px;
	cursor: pointer;
	background: #f0f0f0;
	border: 1px solid #ccc;
	margin-right: 5px;
}

.tab.active {
	background: #e0e0e0;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.right-container .artifacts .tabs {
	display: flex;
	cursor: pointer;
	background-color: transparent;
	padding: 10px;
}

.right-container .artifacts .tabs .tab {
	padding: 10px 20px;
	margin-right: 5px;
	border: 1px solid #ddd;
	border-bottom: none;
	background-color: #f1f1f1;
}

.right-container .artifacts .tabs .tab.active {
	background-color: #fff;
	border-top: 3px solid #f6c500;
	font-weight: bold;
}

.right-container .artifacts .tabs .tab-content {
	display: none;
	padding: 20px;
	border: 1px solid #ddd;
	background-color: #ffffff;
}

.right-container .artifacts .tab-content.active {
	display: block;
	margin-top: -20px;
}

.right-container .artifacts #search .search-container {
	padding-top: 15px;
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	margin-top: -20px;
	background-color: #ffffff;
}

.right-container .artifacts #search .search-container .search-input {
    font-family: 'Inter', sans-serif;
	flex: 1;
	padding: 10px;
	border: 1px solid #b6b6b6;
	outline: none;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
	margin-left: 10px;
	margin-bottom: 10px;
}

.right-container .artifacts .search-container .search-button,
.right-container .artifacts button,
.popup button {
	background-color: #073066;
	color: #FFFFFF;
	border: 1.25px solid #073066;
	padding: 12px 50px;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	transition: background-color 0.3s ease-in-out;
}

.right-container .artifacts .search-container .search-button {
	margin-bottom: 5px;
	margin-right: 10px;
}

.right-container .artifacts .search-container button:hover,
.right-container .artifacts button:hover,
.popup button:hover {
	background-color: #f6c500;
	color: #073066;
	font-weight: bold;
	border: 1.25px solid #073066;
}

.right-container .artifacts .form-container {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	padding-right: 15px;
	background-color: #ffffff;
	padding: 10px;
	box-sizing: border-box;
	margin-top: -20px;
}

.form-group {
	margin-bottom: 15px;
}

label {
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
select,
textarea {
    font-family: 'Inter', sans-serif;
	margin-top: 7px;
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 15px;
}

textarea {
	resize: vertical;
	height: 100px;
}

input[type="file"] {
	margin-top: 7px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
    font-family: 'Inter', sans-serif;
	font-size: 15px;
}

.right-container input[type="text"], input[type="file"], textarea {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px); /* Subtracting the 10px margins from the total width */
}

.right-container label, h3 {
    display: inline-block;  /* Allows margin to be applied while keeping the label inline */
    margin-left: 10px;
    margin-right: 10px;
}


#search-results {
	margin-top: 10px;
}

#search-results label {
	font-size: 1em;
	display: block;
	padding: 5px;
	cursor: pointer;
}

#search-results input[type="radio"] {
	margin-right: 10px;
}

.right-container .artifacts .upload-container,
.right-container .artifacts .edit-container {
	background-color: #f1f1f1;
	padding: 10px;
}

.button-container {
	display: flex;
	gap: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	justify-content: center;
	flex-wrap: wrap;
}

.popup {
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.popup-section,
.popup-catalog,
.popup-subcat {
	background: white;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	border-radius: 10px;
	position: relative;
}

.popup-section {
	display: none;
}

.popup-catalog {
	display: none;
}

.popup-subcat {
	display: none;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 15px;
	cursor: pointer;
}

.card-body {
	width: 100%;
	max-width: 800px;

	margin: 0 auto;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close-button {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-button:hover,
.close-button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.dashboardTitle {
	margin-top: 50px;
	margin-left: 30px;
	padding-bottom: 15px;
	border-bottom: 10px solid #f6c500;
}

#delBtn{
	background-color: #a51010;
	color: #FFFFFF;
	border: 1.25px solid #a51010;
	padding: 12px 50px;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	transition: background-color 0.3s ease-in-out;
}

#delBtn:hover {
	background-color: #ffffff;
	color: #a51010;
	font-weight: bold;
	border: 1.25px solid #a51010;

}

#printQRBtn {
	background-color: #f6c500;
	color: #FFFFFF;
	border: 1.25px solid #f6c500;
	padding: 12px 50px;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	transition: background-color 0.3s ease-in-out;
}

#printQRBtn:hover {
	background-color: #ffffff;
	color: #f6c500;
	font-weight: bold;
	border: 1.25px solid #f6c500;
}

#saveBtn {
	background-color: #073066;
	color: #FFFFFF;
	border: 1.25px solid #073066;
	padding: 12px 50px;
	cursor: pointer;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	transition: background-color 0.3s ease-in-out;
}

#saveBtn:hover {
	background-color: #ffffff;
	color: #073066;
	font-weight: bold;
	border: 1.25px solid #073066;
}

.highlight {
	background-color: white;
}

.btn {
	transition: background-color 0.3s, color 0.3s;

}

#search-results {
	overflow-y: scroll;
	height: 500px;
	display: none;
}

#search-results ul {
    padding: 0; /* Remove default padding for ul */
    margin: 0; /* Remove default margin for ul */
    width: 100%; /* Ensure ul takes full width */
}

#search-results li {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    padding: 10px 20px; /* Add padding to each list item */
    width: 100%; /* Ensure li takes full width of its parent */
    box-sizing: border-box; /* Include padding in the width */
    cursor: pointer; /* Change cursor to pointer on hover */
    list-style-type: none; /* Remove bullet points */
    border-bottom: 1px solid #ccc; /* Add bottom border */
    position: relative; /* Make the li element relative for absolute positioning of children */
}

.edit-button {
    margin-left: auto; /* Push the button to the right */
    margin-right: 20px; /* Space it 20px from the right edge */
    padding: 0; /* Remove any default padding */
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
}


#search-results li button {
    margin-left: 10px; /* Space between content and button */
    background: none; /* Remove default button styles */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
}

#search-results li button i {
    color: #073066; /* Set icon color */
    font-size: 20px; /* Set icon size */
}


/* Remove border for the last item */
#search-results li:last-child {
    border-bottom: none; /* No border on the last list item */
}

/* Hover effect */
#search-results li:hover {
    background-color: #eee; /* Change color on hover */
    color: #000000; /* Change text color on hover */
}

#search-results ul li {
    cursor: pointer;
    list-style-type: none; /* Removes the bullets */
    padding-left: 0; /* Removes the default left padding */
    padding: 20px 0;
    transition: background-color 0.3s ease; /* Smooth transition */
}

#search-results {
	background-color: #ffffff;
	top: 20px;
}

.analytics-container {
	justify-content: space-between;

	margin-top: 20px;

}

#chartContainer {
	width: 400px;

}

canvas {
	max-width: 100%;

}

.feedbackSection {
	height: 100%;
}

#userTableContainer {
	flex: 1;

	max-height: 400px;

	overflow-y: auto;

	border: 1px solid #073066;

	margin-top: 10px;

	border-radius: 8px;

	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

	background-color: #f9f9f9;

}
/*     Table  Feedback  */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle; }
  .table > tbody > tr > td, .table > tbody > tr > th {
	padding: 16px 24px !important; }
  .table > tfoot > tr > td, .table > tfoot > tr > th {
	padding: 12px 24px !important; }
  .table thead th {
	font-size: .95rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 12px 24px !important;
	border-bottom-width: 1px;
	font-weight: 600; }
  .table td, .table th {
	font-size: 1rem;
	border-top-width: 0px;
	border-bottom: 1px solid;
	border-color: #ebedf2 !important;
	vertical-align: middle !important; }
  
  .table .thead-light th {
	background-color: #f6f9fc;
	color: #8898aa;
	border-color: #ebecec !important; }
  .table .thead-dark th {
	background-color: #1a2035;
	color: #fff; }
  
  /* table full-width */
  .table-full-width {
	margin-left: -15px;
	margin-right: -15px; }
  
  /* table bordered states */
  .table-bordered-bd-black td, .table-bordered-bd-black th {
	border: 1px solid #1a2035 !important; }
  
  .table-bordered-bd-primary td, .table-bordered-bd-primary th {
	border: 1px solid #1572E8 !important; }
  
  .table-bordered-bd-secondary td, .table-bordered-bd-secondary th {
	border: 1px solid #6861CE !important; }
  
  .table-bordered-bd-info td, .table-bordered-bd-info th {
	border: 1px solid #48ABF7 !important; }
  
  .table-bordered-bd-success td, .table-bordered-bd-success th {
	border: 1px solid #31CE36 !important; }
  
  .table-bordered-bd-warning td, .table-bordered-bd-warning th {
	border: 1px solid #FFAD46 !important; }
  
  .table-bordered-bd-danger td, .table-bordered-bd-danger th {
	border: 1px solid #F25961 !important; }
  
  .table-striped td, .table-striped th {
	border-top: 0 !important;
	border-bottom: 0 !important; }
  
  /* table head background states*/
  .table-head-bg-black thead {
	border: 1px solid #1a2035 !important; }
  
  .table-head-bg-primary thead {
	border: 1px solid #1572E8 !important; }
  
  .table-head-bg-secondary thead {
	border: 1px solid #6861CE !important; }
  
  .table-head-bg-info thead {
	border: 1px solid #48ABF7 !important; }
  
  .table-head-bg-success thead {
	border: 1px solid #31CE36 !important; }
  
  .table-head-bg-warning thead {
	border: 1px solid #FFAD46 !important; }
  
  .table-head-bg-danger thead {
	border: 1px solid #F25961 !important; }
  
  .table-head-bg-black thead th, .table-striped-bg-black tbody tr:nth-of-type(odd) {
	background: #1a2035 !important;
	color: #ffffff !important;
	border: 0px !important; }
  
  .table-head-bg-primary thead th, .table-striped-bg-primary tbody tr:nth-of-type(odd) {
	background: #1572E8 !important;
	color: #ffffff !important;
	border: 0px !important; }
  
  .table-head-bg-secondary thead th, .table-striped-bg-secondary tbody tr:nth-of-type(odd) {
	background: #6861CE !important;
	color: #ffffff !important;
	border: 0px !important; }
  
  .table-head-bg-info thead th, .table-striped-bg-info tbody tr:nth-of-type(odd) {
	background: #48ABF7 !important;
	color: #ffffff !important;
	border: 0px !important; }
  
  .table-head-bg-success thead th, .table-striped-bg-success tbody tr:nth-of-type(odd) {
	background: #31CE36 !important;
	color: #ffffff !important;
	border: 0px !important; }
  
  .table-head-bg-warning thead th, .table-striped-bg-warning tbody tr:nth-of-type(odd) {
	background: #FFAD46 !important;
	color: #ffffff !important;
	border: 0px !important; }
  
  .table-head-bg-danger thead th, .table-striped-bg-danger tbody tr:nth-of-type(odd) {
	background: #F25961 !important;
	color: #ffffff !important;
	border: 0px !important; }
  
  /* table-responsive */
  .table-responsive {
	height: 400px;
	width: 100% !important;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar; }

	
table {
	width: 100%;
	border-collapse: collapse;
    font-family: 'Inter', sans-serif;
}

th,
td {
    font-family: 'Inter', sans-serif;
	padding: 12px 15px;

	text-align: left;

}

th {
	background-color: #073066;

	color: white;

	border-bottom: 2px solid #f6c500;

}

tr:nth-child(even) {
	background-color: #f2f2f2;

}

tr:hover {
	background-color: #e0e7ff;

}

td {
	border-bottom: 1px solid #ccc;

}

#refreshBtn {
    font-family: 'Inter', sans-serif;
	margin-top: 10px;
	background-color: #073066;

	color: white;

	border: none;

	padding: 10px 20px;

	font-size: 16px;

	cursor: pointer;

	transition: background-color 0.3s, transform 0.3s;

}

#refreshBtn:hover {
	background-color: #f6c500;

	transform: scale(1.05);

}

#refreshBtn:active {
	transform: scale(0.95);

}

#donutChart {
	max-width: 600px;

	max-height: 400px;

	margin: auto;

	padding: 10px;

}

.edit-media-popup {
	background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
	z-index: 999;
}

.edit-media-popup .content {
	height: 600px;
	width: 900px;
	background: white;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	flex-direction: column;
    justify-content: space-between;
}

.media-display {
	background: rgb(250, 250, 250);
	overflow-y: auto;
	margin-top: 15px;
	height: 85%;
	border-radius: 1%;
	padding: 10px;
	
}
.edit-media-popup .close-edit {
	position: absolute;
	top: 15px;
	right: 15px;
	height: 15px;
	cursor: pointer;
}

.select-button {
	position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 1366px) {

	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		box-sizing: border-box;
	}

	header {
		width: 100vw;
		padding-left: 0;
		margin: 0;
		left: 0;
		right: 0;
		position: relative;
		box-sizing: border-box;
	}

	header .logo {
		font-size: 3vmin;
	}

	.main-container {
		display: flex;
		align-items: flex-start;
		height: 100%;
	}

	.left-container,
	.right-container {
		flex: 1;
		box-sizing: border-box;
	}

	.left-container {
		margin-top: 35px;
		margin-right: 10px;
	}

	.right-container {
		margin-top: -60px;
	}

	button {
		padding: 10px 20px;
		font-size: 1.2em;
	}

}